<business>
    <objects>
        <object>
            <name>Customer</name>
            <tablename>customer</tablename>
            <feature_groups>
                <feature_group>
                    <id>1</id>
                    <name>Basic info</name>
                    <features>
                        <feature>
                            <name>Name</name>
                            <data_type>text</data_type>
                            <fieldname>name</fieldname>
                        </feature>
                        <feature>
                            <name>Surname</name>
                            <data_type>text</data_type>
                            <fieldname>surname</fieldname>
                        </feature>
                    </features>
                </feature_group>
                <feature_group>
                    <id>2</id>
                    <name>Extended info</name>
                    <features>
                        <feature>
                            <name>email</name>
                            <data_type>text</data_type>
                            <fieldname>email</fieldname>
                        </feature>
                    </features>
                </feature_group>
            </feature_groups>
        </object>
    </objects>
    <roles>
        <rol>
            <id>1</id>
            <name>Admin</name>
            <permissions>
                <permission>
                    <rol_id>1</rol_id>
                    <access>RW</access>
                </permission>
                <permission>
                    <rol_id>2</rol_id>
                    <access>RW</access>
                </permission>
            </permissions>
        </rol>
        <rol>
            <id>2</id>
            <name>Regular</name>
            <permissions>
                <permission>
                    <rol_id>1</rol_id>
                    <access>R</access>
                </permission>
                <permission>
                    <rol_id>2</rol_id>
                    <access></access>
                </permission>
            </permissions>
        </rol>
    </roles>
</business>